* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#33ccff, #ff99cc);
  height: 100vh;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(39, 39, 156);
    font-size: 3rem;
    text-shadow: 0.1rem 0.2rem 0.2rem #000;
  }
}

form {
  display: flex;
  justify-content: center;
  input,
  button {
    margin: 0.5rem 0.25rem;
    font-size: 1.2rem;
    border: none;
    padding: 0.25rem;
  }
  button {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  div.todo {
    width: 50vw;
    display: flex;
    // 蹦出來有從零放大的的動畫效果
    animation: scaleUp 0.2s ease;
    p {
      background-color: #fff;
      font-size: 1.75rem;
      padding: 0.25rem 0.75rem;
      // border: 1px solid blue;
    }
    p.todo-text {
      width: 50%;
      text-align: left;
    }
    p.todo-time {
      width: 30%;
      font-family: "Nanum Pen Script", cursive;
      text-align: center;
    }
    button {
      width: 10%;
      border: none;
      border-radius: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
    button.checkButton {
      color: red;
    }

    button.trashButton {
      color: rgb(33, 116, 33);
    }
  }
}

.done {
  text-decoration: line-through 0.2rem;
}

// 新增代辦事項的動畫
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
